body {
    margin: 0;
    background: url("../img/pattern.png");
}

.card {
    width: 400px;
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 5px 10px #ccc;
    border-radius: 10px;
}

.card-photo {
    display: block;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
}   

.card-title {
    font-size: 20px;
    text-align: center;
}
.contact-list {
    font-size: 17px;
    margin-top: -8px;
    padding-left: 70px;
    
}
.card-text {
    font-size: 17px;
}

.card-subtitle {
    font-size: 18px;
    color: #2a2a2a;
}

.card-list {
    padding-left: 0;
    list-style-position: inside;
}

.data_t {
    font-weight: 600;
    text-align:right;
    margin-top: -9px;
    margin-bottom: -9px;
}